.inputOption{
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 20px;
    cursor: pointer;
}
.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;


}
.inputOption>h4{
    margin-left: 10px;
    font-size: 14px;
}